<script id="listing-template" type="text/x-handlebars-template">
  <div id="row_{{times_counter}}" class="row form-group listing_template">
    <div class="col-sm-5" id="listing_start_time_group_{{times_counter}}">
      <label class="control-label" for="listing_start_time_{{counter}}">Event Starts:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </div>
        <input type="text" class="form-control pull-right listing_time" value="" id="listing_start_time_{{times_counter}}" data-before="listing_end_time_{{times_counter}}">
        <div class="input-group-addon">
          EST
        </div>        
      </div>        
    </div>
    <div class="col-sm-5" id="listing_end_time_group_{{times_counter}}">
      <label class="control-label" for="listing_end_time">Event Ends:</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </div>
        <input type="text" class="form-control pull-right listing_time" value="" id="listing_end_time_{{times_counter}}" data-after="listing_start_time_{{times_counter}}">
        <div class="input-group-addon">
          EST
        </div>        
      </div>        
    </div>      
    <div class="col-sm-1">
      <div class="input-group">
        <a href="#" data-id="{{times_counter}}" id="delete_{{times_counter}}" class="btn btn-med delete">
          <span class="glyphicon glyphicon-trash"></span> Delete Time
        </a>
        <a href="#" data-id="{{times_counter}}" id="add_ticket_{{times_counter}}" class="btn btn-block btn-primary btn-sm ticket_btn">
          <i class="fa fa-ticket"></i> Add Ticket
        </a>
      </div>
    </div>
  </div>
  <div id="tickets_{{times_counter}}">  
  </div>
</script>