<br />
<br />
<br />
<br />
<br />
<section class="g-bg-gray-light-v5 g-py-20">
  <div class="container">
    <div class="d-sm-flex text-center">

      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <%= link "Home", to: root_path(@conn, :index), class: "u-link-v5 g-color-main g-color-primary--hover" %>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Your Orders</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<section class="g-bg-white">
  <div class="container">
    <div class="row" align="center"><!--Basic Table-->
      <!-- Basic Table -->
      <div class="card g-brd-primary rounded-0" style="width: 100%;">
        <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
          <i class="fa fa-tasks g-mr-5"></i>
          Your Orders
        </h3>

        <div class="card-block g-pa-15">
          <p class="card-text">Below are your <%= Enum.count(@orders) %> most recent orders.  For more information on an individual order, click on the link in the row.
          </p>
        </div>

        <div class="table-responsive block">
          <table class="table u-table--v1 mb-0" width="100%">
            <thead>
              <tr>
                <th>View</th>
                <th colspan="2">Description</th>
                <th class="hidden-sm">Total</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <%= for order <- @orders do %>
              <%
                ticket = Enum.at(order.tickets, 0)
                listing = ticket.listing |> TicketAgent.Repo.preload(:images)
              %>
              <tr>
                <th scope="row" class="g-color-gray-dark-v4 g-font-weight-400 g-font-size-12 text-uppercase g-mb-2">
                  <%= link order.slug, to: order_path(@conn, :show, order.slug) %>
                </th>
                <td>
                  <img class="img-fluid rounded-0" src="<%= listing_image_with_dimensions(listing, 200, 200) %>">
                </td>
                <td>
                  <%= Enum.count(order.tickets) %> Ticket(s) to <%= link to: event_path(@conn, :show, listing) do %>
                    <%= listing.title %>
                  <% end %>
                </td>
                <td class="hidden-sm">$<%= formatted_ticket_price(order.total_price / 100) %></td>
                <td><%= order_timestamp(order.completed_at) %></td>
                <td>
                  <a href="#"><span class="u-label u-label-primary block g-color-white">Download Tickets</span></a>
                  <br />
                  <a href="#"><span class="u-label g-bg-indigo g-mr-10 g-mb-15"><i class="fa fa-thumbs-up g-mr-3"></i>Leave Review</span>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- End Basic Table -->
    </div>
  </div>
  <br />
</section>
