<%= render TicketAgentWeb.LayoutView, "ticket_info.html", assigns %>
<%= render "partial/order_template.html", assigns %>

<!-- Demo modal window -->
<div id="modal-type-aftersometime" class="js-autonomous-popup text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;" data-modal-type="aftersometime" data-open-effect="zoomIn" data-close-effect="zoomOut" data-delay="100" data-speed="500">
  <h4 class="g-mb-20">Preparing Your Order</h4>
  <hr>
  <div class="progress g-height-20 rounded-0 u-progress g-mb-20">
    <div id="ticket_bar" class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" data-percentage="0"></div>
  </div>
  <p>We are validating and reserving your tickets and registration.</p>
</div>
<section class="g-bg-white">
  <div class="container">
    <div class="row" align="center">
    <div id="ticket_countdown" class="col-md-12 alert alert-warning block" role="alert" align="center">
      Your tickets will be released if you do not complete your order in the next: <strong id="locked_until"></strong>
    </div>

    </div>
    <div class="row">
      <div id="ticket_table" class="table-responsive col-md-6">
        <table class="table table-bordered table-hover u-table--v2 text-center text-uppercase g-col-border-side-0">
          <thead>
            <tr class="g-bg-blue g-color-white g-col-border-top-0">
              <th class="g-brd-white-opacity-0_1">Ticket</th>
              <th class="g-brd-white-opacity-0_1">Cost</th>
            </tr>
          </thead>
          <tbody class="g-font-size-12 g-color-black-opacity-0_6 g-font-weight-600" id="ticket_body">
          </tbody>
        </table>
      </div>
      <div class="col-md-6" id="charge_form">
        <form action="/charge" method="post" id="payment-form" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
          <div class="form-group row g-mb-25">
            <div id="payment-request-button" class="col-sm-12">
            </div>
          </div>
          <div class="d-flex justify-content-center text-center g-mb-30">
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
            <span class="align-self-center g-color-gray-dark-v5 mx-4">OR ENTER CREDIT CARD DETAILS</span>
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
          </div>
          <fieldset>
          <div class="form-group row g-mb-25">
            <label for="card-element" class="col-sm-4 col-form-label">Card Number</label>
            <div id="card-number" class="form-control col-md-6 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 card_class">
            </div>

          </div>
          <div class="form-group row g-mb-25">
            <label for="card-element" class="col-sm-4 col-form-label">Expiration Date</label>
            <div id="card-expiry" class="form-control col-md-6 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 card_class">
            </div>
          </div>
          <div class="form-group row g-mb-25">
            <label for="card-element" class="col-sm-4 col-form-label">CVV Code</label>
            <div id="card-cvc" class="form-control col-md-3 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 card_class">
            </div>
          </div>
          <div class="form-group row g-mb-25">
            <label for="card-element" class="col-sm-4 col-form-label">Zip Code</label>
            <input type="text" id="card_zip" name="card_zip" class="form-control col-md-3 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" placeholder="12345">
          </div>
          </fieldset>
          <div class="form-group row align-self-center" align="center">
            <div class="ml-sm-auto col-lg-12 align-self-center">
              <button id="submit_button" type="submit" class="btn btn-xxl u-btn-primary rounded-0">Loading....</button>
              <br />
              <br />
              <button id="cancel_button" class="btn btn-sm u-btn-bluegray rounded-0">Cancel Order</button>
              <br />
              <br />
              <div id="card_error" class="alert alert-danger" role="alert" style="display: none;">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-12" id="free_form" style="align: center; display: none;">
        <center>
          <button id="free_button" type="submit" class="btn btn-xxl u-btn-primary rounded-0">Reserve Tickets</button>
        </center>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var tickets = {
  <%= for {p, ticket} <- @conn.assigns.tickets do %>
    "<%= p %>": <%= raw Jason.encode!(ticket) %>,
  <% end %>
  };

  window.details = {
    listing: {
      id: "<%= @listing.id %>",
      slug: "<%= @listing.slug %>",
      type: "<%= @listing.type %>",
      class_slug: "<%= class_slug(@listing.class_id) %>"
    },
    locked_until: null,
    order_id: null,
    pricing: {},
    tickets: tickets
  }

  window.csrf_token = $('meta[name="csrf-token"]').attr('content');
  $(document).on('ready', function () {
    var modal = new Custombox.modal({
      content: {
        effect: 'fadein',
        target: '#modal-type-aftersometime'
      }
    });
    modal.open();
  });
</script>
<script type="text/javascript" src="/js/stripe_related.js"></script>
<script src="https://cdn.rawgit.com/hilios/jQuery.countdown/master/dist/jquery.countdown.min.js"></script>
