<br />
<br />
<br />
<br />
<script type="text/javascript">
window.session_token = "<%= @session_token %>";
window.listing_id = "<%= @listing_id %>";
</script>
  <section class="g-bg-gray-light-v5 g-py-20">
    <div class="container">
      <div class="shortcode-html">
        <!-- Hoverable Rows -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="ticket_body">
            </tbody>
          </table>
        </div>
        <!-- End Hoverable Rows -->
      </div>


    </div>
  </section>

<script id="ticket_template" type="text/x-handlebars-template">
  <tr>
    <td>{{guest_name}}</td>
    <td>
      <label class="form-check-inline u-check g-mr-20 mx-0 mb-0">
        {{#if checkedin}}
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" id="{{id}}" name="item" type="checkbox" checked="checked">
        {{else}}
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" id="{{id}}" name="item" type="checkbox">
        {{/if}}
        <div data-ticket-id="{{id}}" class="u-check-icon-radio-v7 checkin">
          <i class="fa" data-check-icon=""></i>
        </div>
      </label>
    </td>
  </tr>
</script>
<script type="text/javascript" src="/js/concierge.js"></script>
