<br />
<br />
<br />
<br />
<script type="text/javascript">
window.session_token = "<%= @session_token %>";
window.listing_slug = "<%= @listing_slug %>";
window.listing_id = "<%= @listing.id %>";
</script>
  <section class="g-bg-gray-light-v5 g-py-20">
    <div class="container">
      <div class="d-sm-flex text-center">

        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
            
              <%= link "Dashboard", to: concierge_dashboard_path(@conn, :index), class: "u-link-v5 g-color-main g-color-primary--hover" %>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Check In Guests For <%= @listing.title %> (<%= order_timestamp(@listing.start_at) %>)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <br />
  <section class="g-bg-white-v5 g-py-20">
    <div class="container">
      <!-- Hoverable Rows -->
      <h2 class="title">Check In Guests For <%= @listing.title %> (<%= order_timestamp(@listing.start_at) %>)</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="ticket_body">
          </tbody>
        </table>
      </div>
      <!-- End Hoverable Rows -->
    </div>
  </section>

<script id="ticket_template" type="text/x-handlebars-template">

    <td>{{guest_name}}</td>
    <td>
      {{#if checkedin}}
      <a href="#!" id="link_{{id}}" data-ticket-id="{{id}}" class="btn u-btn-outline-primary g-mr-10 g-mb-15 checkin">
        <i id="check_{{id}}" class="fa fa-check-circle g-mr-5"></i>
        <span id="text_{{id}}">Checked In</span>
      </a>
      {{else}}
      <a href="#!" id="link_{{id}}" data-ticket-id="{{id}}" class="btn u-btn-outline-bluegray g-mr-10 g-mb-15 checkin">
        <i id="check_{{id}}" class="fa fa-check-circle g-mr-5" style="display: none;"></i>
        <span id="text_{{id}}">Check In</span>
      </a>      
      {{/if}}
    </td>

</script>
<script type="text/javascript" src="/js/concierge.js"></script>
