<ins>This class has multiple upcoming sessions.  Please choose your preferred time.</ins>
<br />
<br />
<%= for listing <- @listings do %>
  <%= link to: ticket_path(@conn, :new, listing_id: listing.slug), class: "btn btn-md u-btn-primary g-mr-10 g-mb-15" do %>
  <i class="fa fa-check-circle g-mr-5"></i>
  <%= class_buy_timestamp(listing) %>
  <% end %>
<% end %>
