<br />
<br />
<br />
<br />
  <section class="g-bg-gray-light-v5 g-py-20">
    <div class="container">
      <div class="d-sm-flex text-center">

        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <%= link "Home", to: root_path(@conn, :index), class: "u-link-v5 g-color-main g-color-primary--hover" %>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Dashboard</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
      <!-- End Breadcrumb -->
<br />
      <section class="g-mb-100">
        <div class="container">
          <div class="row">
<%= render "sidebar.html", assigns %>

            <!-- Profile Content -->
            <div class="col-lg-9">

              <!-- Product Table Panel -->
              <div class="card border-0">
                <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                  <h3 class="h6 mb-0">
                    <i class="icon-directions g-pos-rel g-top-1 g-mr-5"></i> Your Orders
                  </h3>
                  <div class="dropdown g-mb-10 g-mb-0--md">

                  </div>
                </div>

                <div class="card-block g-pa-0">
                  <!-- Product Table -->
                  <div class="table-responsive">
                    <table class="table table-bordered u-table--v2">
                      <thead class="text-uppercase g-letter-spacing-1">
                        <tr>
                          <th class="g-font-weight-300 g-color-black">Order</th>
                          <th class="g-font-weight-300 g-color-black"></th>
                          <th class="g-font-weight-300 g-color-black g-min-width-200">Description</th>
                          <th class="g-font-weight-300 g-color-black">Contacts</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%= for order <- @orders do %>
                        <%
                          ticket = Enum.at(order.tickets, 0)
                          listing = ticket.listing |> TicketAgent.Repo.preload(:images)
                        %>
                        <tr>
                          <td class="align-middle text-nowrap">
                            <h4 class="h6 g-mb-2 text-uppercase"><%= link "View", to: order_path(@conn, :show, order.slug) %></h4>
                            <div class="js-rating g-font-size-12 g-color-primary" data-rating="3.5"></div>
                          </td>
                          <td class="align-middle">
                            <img class="img-fluid rounded-0" src="<%= listing_image_with_dimensions(listing, 150, 150) %>">
                          </td>
                          <td class="align-middle">

                              <%= Enum.count(order.tickets) %> Ticket(s) to <%= link to: event_path(@conn, :show, listing) do %>
                                <%= listing.title %>
                              <% end %>

                          </td>

                          <td class="align-middle text-nowrap">
                            <span class="d-block g-mb-5">
                              <a href="#">
                                <i class="icon-printer g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> Download Tickets
                              </a>
                            </span>
                            <span class="d-block">
                              <i class="icon-emotsmile g-font-size-16 g-color-gray-dark-v5 g-pos-rel g-top-2 g-mr-5"></i> Leave Review
                            </span>
                          </td>
                        </tr>
                        <% end %>

                      </tbody>
                    </table>
                  </div>
                  <!-- End Product Table -->
                </div>
              </div>
              <!-- End Product Table Panel -->
            </div>
            <!-- End Profile Content -->
          </div>
        </div>
      </section>
