<section class="g-brd-around g-brd-5 g-brd-gray-light-v4 g-pa-30">
  <div class="row">
    <div class="col-md-10 align-self-center">
      <h3 class="h4"><%= Enum.at(@ticket.name, 0) %></h3>
      <p class="lead g-mb-20 g-mb-0--md">
      $<%= cost_smallest_unit(@ticket.price) %>
      </p>
    </div>

    <div class="col-md-2 align-self-center text-md-right">
      Choose # of tickets: <select class="form-control rounded-0 ticket_count" data-ticket-id="<%= @ticket.ticket_id %>">
        <%= for i <- (0..@ticket.ticket_count) do %>
          <option value="<%= i %>"><%= i %></option>
        <% end %>
      </select>
    </div>
  </div>
</section>
<br />