<table style="width: 100%;">
  <thead>
    <tr>
      <th align="center"><h2>UPCOMING SHOWS</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">
        <%= for show <- shows do %>
        <table style="padding: 5px; border: 2px solid #f7f7f7; border-right: 3px solid #f7f7f7; border-bottom: 3px solid #f7f7f7; border-radius: 15px;">
          <tr>
            <td style="text-align: center;">
              <img src="<%= TicketAgentWeb.SharedView.listing_image_with_dimensions(show, 400, 200) %>">
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; text-align: center;">
              <h4><%= show.title %></h4>
              <%= Curtail.truncate(show.description, length: 200) %>
              <br />
              <span style="text-align: right;">
                <a href="<%= host %>/events/<%= show.slug %>?utm_source=welcome_email&utm_medium=email" style="display: inline-block; color: #ffffff; background-color: #72c02c; border: solid 1px #72c02c; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #72c02c;">View More</a>
              </span>
            </td>
          </tr>
        </table>
        <br />
        <br />

        <% end %>
      </td>
    </tr>
  </tbody>
</table>
