<section class="g-bg-gray-light-v5">
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Register</h2>
          </header>
          <%= if @changeset.action do %>
            <div class="alert alert-danger">
              <%= dgettext "coherence", "Oops, something went wrong! Please check the errors below." %>
            </div>
          <% end %>
          <%= form_for @changeset, registration_path(@conn, :create), [as: :registration, class: "g-py-15"], fn f  -> %>
            <div class="form-group">
            	<label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Name") %>:</label>
              <%= text_input f, :name, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "John Doe" %>
              <%= error_tag f, :name %>
            </div>
            <div class="mb-4">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Email") %>:</label>
              <%= text_input f, :email, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", type: "email", placeholder: "user@domain.com" %>
              <%= error_tag f, :email %>
            </div>
            <div class="mb-4">
            	<label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Password") %>:</label>
              <%= password_input f, :password, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "password" %>
              <%= error_tag f, :password %>
            </div>
            <div class="mb-4">
            	<label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Password Confirmation") %>:</label>
              <%= password_input f, :password_confirmation, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "password" %>
              <%= error_tag f, :password_confirmation %>
            </div>
            <div class="mb-4">
              <%= submit dgettext("coherence", "Sign Up"), class: "btn btn-md btn-block u-btn-primary rounded g-py-13" %>
            </div>
            <div class="d-flex justify-content-center text-center g-mb-30">
              <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
              <span class="align-self-center g-color-gray-dark-v5 mx-4">OR LOGIN WITH</span>
              <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
            </div>
            <div class="row text-center no-gutters g-mb-10">
              <div class="col-4">
                <%= link to: auth_path(@conn, :index, "facebook"), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-facebook g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-facebook"></i></span><% end %>
              </div>
              <div class="col-4">
                <%= link to: auth_path(@conn, :index, "twitter"), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-twitter g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-twitter"></i></span><% end %>
              </div>
              <div class="col-4">
                <%= link to: auth_path(@conn, :index, "google"), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-google-plus g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-google-plus"></i></span><% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Checkout As Guest</h2>
          </header>
          We strongly recommend that you create an account.
        </div>
      </div>
    </div>
  </div>
</section>
