 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Classes</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <p style="padding: 10px;">These are the class templates that are used to create new listings of a class.  When you create a new listing for a class, it copies the data from this  class.  Changing things here will only affect future listings.</p>
          <table class="table table-hover">
            <tbody><tr>
              <th width="250px;">Actions</th>
              <th>Title</th>
              <th>Currently Offered?</th>
            </tr>
            <%= for class <- @classes do %>
              <tr>
                <td align="center">
                  <span><%= link "View", to: admin_class_path(@conn, :show, class), class: "btn btn-info btn-xs" %></span>
                  <span><%= link "Edit", to: admin_class_path(@conn, :edit, class), class: "btn btn-warning btn-xs" %></span>
                  <span><%= link "Create Listing", to: admin_event_path(@conn, :new, class_id: class.id), class: "btn btn-success btn-xs" %>
                </td>
                <td><%= class.title %></td>
                <td>
                  <% current_listings = current_class_listing(class) %>
                  <%= for listing <- current_listings do %>
                    <%= link "View Listing", to: admin_event_path(@conn, :show, listing), class: "btn btn-info btn-xs" %>
                    <%= link "Edit Listing", to: admin_event_path(@conn, :edit, listing), class: "btn btn-warning btn-xs" %>
                    <%= link "View Customer", to: class_path(@conn, :show, class.slug), class: "btn btn-success btn-xs", target: "_blank" %><br />
                  <% end %>

                </td>
              </tr>
            <% end %>
          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
          <!-- /.box -->
