<% import TicketAgent.OrderHelpers %>
<img src="<%= listing_image_with_dimensions(listing, 590, 200) %>" style="border-radius: 5px;" />
<br />
<p>Your order for <%= ticket_word(ticket_count) %> to <em><%= listing.title %></em> has been cancelled and fully refunded.</p>
<p>The funds will be returned to the account used to make the payment. Refunds can take 5 - 8 business days.</p>

<br />

<table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
<h4 style="text-decoration: underline;">Refund Details</h4>
<table style="width: 100%; padding: 5px;">
<tr style="border-bottom: 1px solid #000; margin-bottom: 10px;"><th style="margin-bottom: 5px;">Item</th><th>Price</th></tr>
<%= ticket_table(order) %>
<tr>
<td colspan="2">&nbsp;<br /></td>
</tr>
<tr>
<td><b>Subtotal:</b></td>
<td><%= money(order.subtotal) %></td>
</tr>
<tr>
<td><b>Processing Fee:</b></td>
<td><%= money(order.total_price - order.subtotal) %></td>
</tr>
<tr>
<td><b>Refunded:</b></td>
<td><%= money(order.total_price) %></td>
</tr>
</table>
<br />
