Hi <%= name %>,

Recently, this email address was used for a guest checkout on our site.  We are sending this email to verify that it was you trying to do this.

If this was you, please click the URL below to continue.   You will be automatically logged into your account.

If it was not you, ignore this email - nothing has changed.

<%= url %>

Thanks for visiting PushComedyTheater.com!
