 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Listings</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table id="datatable" class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Start Time</th>
              </tr>
            </thead>
            <tbody>

          </tbody></table>
        </div>
<div class="box-footer clearfix">
            </div>

        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
          <!-- /.box -->
<script type="text/javascript">
$(document).ready(function() {
  var table = $('#datatable').DataTable( {
        "ajax": "/admin/listings.json",
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ordering": false,
        "lengthChange": false,
        "columns": [
            { "data": "title" },
            { "data": "status" },
            { "data": "start_at" }
        ]
    });
      table.on( 'xhr', function ( e, settings, json ) {
        console.log( 'Ajax event occurred. Returned data: ', json );
      } );
} );

</script>