<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Create New Ticketed Event</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <div class="box-body">
    What type of event is this?
    <hr>

    <div class="col-md-6">
      <h4><i class="fa fa-university"></i> This Is A Class</h4>
      <br />
      Please select the class from the drop down to prepopulate the form.  It is important to make sure that you create a new instance of one of the classes versus creating an entirely new one.
      <br />
      <br />
      <select id="class_select">
        <option value="">Choose Class</option>
        <%= for class <- @classes do %>
          <option value="<%= class.id %>"><%= class.title %></option>
        <% end%>
      </select>
      <br />
      <br />
      <center><button id="class_click" class="btn btn-success btn-lg">Create Class Listing</button></center>
    </div>
    <div class="col-md-6">
      <h4><i class="fa fa-calendar"></i> This Is A Show</h4>
     <br />
     If this show has been created previously, please choose from the drop down to prepopulate the form on the next page.  Otherwise, please choose to create a new listing.
     <br />
     <br />
     <select id="event_select">
        <option value="new">Create New Show</option>
        <%= for event <- @events do %>
          <option value="<%= event.id %>"><%= event.title %></option>
        <% end%>
      </select>
      <br />
      <br />
      <center><button id="event_click" class="btn btn-success btn-lg">Create New Show</button></center>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#event_click").on("click", function(e){
      e.preventDefault();
      var value = $("#event_select").val();
      window.location.href = "/admin/listings/new?event_id=" + value;
    });

    $("#class_click").on("click", function(e){
      e.preventDefault();
      var value = $("#class_select").val();
      if (value == "") {
        alert("Please select a class");
      } else {
        window.location.href = "/admin/listings/new?class_id=" + value;
      }
    });
  })
</script>
