<%= render "partial/listing_template.html", assigns %>
<%= render "partial/ticket_template.html", assigns %>
<%= form_for @changeset, admin_event_path(@conn, :create), [as: :listing], fn f -> %>
  <%= hidden_input f, :class_id %>
  <%= hidden_input f, :slug %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">New Class From <%= @class.title %></h3>
    </div>
    <!-- /.box-body -->
    <div class="box-body">
      <div class="row form-group">
        <div class="col-sm-2"><%= label f, :title, class: "control-label", placeholder: "Make it short and catchy" %></div>
        <div class="col-sm-10">
        <%= text_input f, :title, class: "form-control" %>
        <%= error_tag f, :title %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-2"><%= label f, :description, class: "control-label" %></div>
        <div class="col-sm-10">
        <%= textarea(f, :description, class: "ckeditor", cols: 80, rows: 10) %>
        <%= error_tag f, :description %>
        </div>
      </div>    
    </div>
  </div>        
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">When is your event?</h3>
      <span class="pull-right">
        <button id="add_another_time_btn" type="button" class="btn btn-block btn-success btn-flat"><i class="fa fa-fw fa-plus"></i> Add Another Time</button>
      </span>
    </div>
    <!-- /.box-body -->
    <div class="box-body" id="listing_times" data-counter="0">
    </div>
    <hr>
  </div>
        
<% end %>

<script type="text/javascript">
  window.current_date_time = new Date().toJSON().slice(0, 10) + " 00:00";

  window.setup_date_pickers = function(counter) {
    $('.listing_time').datetimepicker({
      format: 'yyyy-mm-dd hh:ii',
      showMeridian: true,
      autoclose: true,
      startDate: window.current_date_time,
      todayBtn: true
    })
    .on('changeDate', function(ev){
      var target = $(ev.target);
      if (target.data("before")) {
        var before = target.data("before");
        $("#" + before).datetimepicker('setStartDate', target.val());
        $("#" + before).datetimepicker('setInitialDate', target.val());
      }
    });
  }

  window.setup_delete_button = function(counter) {
    $("#delete_" + counter).on("click", function(e) {
      e.preventDefault();
      if (confirm("Are you sure you want to remove this time and all associated tickets?")) {
        $("#row_" + counter).remove();
        $("#tickets_" + counter).remove();
      }
    });
  };

  window.setup_add_ticket_button = function(counter) {
    $("#add_ticket_" + counter).on("click", function(e) {
      e.preventDefault();
      var detail = window.ticket_template({ticket_count: counter});
      $("#tickets_" + counter).append(detail);
    });
  };  

  window.add_listing_template = function() {
    var times_counter = $(".listing_template").length;
    var html = window.listing_template({times_counter: times_counter});
    $("#listing_times").append(html);
    window.setup_delete_button(times_counter);
    window.setup_add_ticket_button(times_counter);
    window.setup_date_pickers(times_counter);
  }

  $(function () {
    window.listing_template = Handlebars.compile($("#listing-template").html());
    window.ticket_template  = Handlebars.compile($("#ticket-template").html());

    window.add_listing_template();

    $("#add_another_time_btn").on("click", function(e) {
      e.preventDefault();
      window.add_listing_template();
    });
  });
</script>