<script type="text/javascript">
window.class_id = "<%= @class.id %>";
</script>
<%= form_for @conn, admin_event_path(@conn, :create), [as: :listing], fn f -> %>
  <%= hidden_input f, :class_id, value: @class.id %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">New Class From <%= @class.title %></h3>
    </div>
    <!-- /.box-body -->
    <div class="box-body">
      <div id="listing_title_group" class="row form-group">
        <div class="col-sm-2">
          <%= label f, :title, class: "control-label" %>
        </div>
        <div class="col-sm-10">
          <%= text_input f, :title, class: "form-control", placeholder: "Make it short and catchy", value: @class.title %>
          <span id="listing_title_error" style="display: none;" class="help-block">This field is required</span>
        </div>
      </div>
      <div id="listing_description_group" class="row form-group">
        <div class="col-sm-2"><%= label f, :description, class: "control-label" %></div>
        <div class="col-sm-10">
        <%= textarea(f, :description, class: "ckeditor", cols: 80, rows: 10, value: @class.description) %>
        <span id="listing_description_error" style="display: none;" class="help-block">This field is required</span>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">When is this class?</h3>
    </div>
    <!-- /.box-body -->
    <div class="box-body" id="listing_times" data-counter="0">
    </div>
    <hr>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Processing Fees</h3>
    </div>
    <!-- /.box-body -->
    <div class="box-body">
      <div class="row">
        <div class="col-sm-8">Should we pass fees to the buyer or include in the ticket price?&nbsp;<%= select f, :pass_fees_to_buyer, ["Pass Fees To Buyer": true, "Include In Ticket Price": false], selected: true %>
          <!-- Button trigger modal -->
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Image</h3>
    </div>
    <!-- /.box-body -->
    <div class="box-body">
    <img src="<%= @class.image_url %>" width="100" align="left" style="padding: 10px;">
    All classes inherit their image from the base class. This cannot be changed without changing for all.
    </div>
    <hr>
  </div>
  <button id="create_class" type="button" class="btn btn-block btn-success btn-flat">Create New Class Listing </button>
<% end %>
