<span class="pull-right">
<%= if is_nil(@show.event_id) do %>
<%= link "View On Customer Site", to: class_path(@conn, :show, @show.class), class: "btn btn-info btn-md", target: "_blank" %>
<% else %>
<%= link "View On Customer Site", to: event_path(@conn, :show, @show), class: "btn btn-info btn-md", target: "_blank" %>
<% end %>
</span>
<h2><%= @show.title %></h2>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="ion ion-calendar"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Dates</span>
        <span class="info-box-number"><%= order_timestamp(@show.start_at) %> - </span>
        <span class="info-box-number"><%= order_timestamp(@show.end_at) %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-pricetag"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Tickets Sold</span>
        <span class="info-box-number"><%= @sold_ticket_count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Sales</span>
        <span class="info-box-number">$<%= :erlang.float_to_binary((@sold_ticket_price / 100), decimals: 2) %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  </div>

<!-- AREA CHART -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Sales</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">

         <canvas id="canvas" width="400" height="100"></canvas>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Attendees</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <table id="datatable" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th colspan="7">
            Filter:&nbsp;
            <input id="available_checkbox" type="checkbox"> Only Available
            <input id="purchased_checkbox" type="checkbox"> Only Purchased
            </th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Order</th>
            <th>Status</th>
            <th>Purchased</th>
            <th>Tickets Emailed</th>
            <th>Checked In</th>
          </tr>
          </thead>
          <tbody>
          <%= for ticket <- @show.tickets do %>
          <tr>
            <td><%= ticket.slug %></td>
            <td><%= ticket.guest_name %></td>
            <td><%=
              if ticket.order do
                link ticket.order.slug, to: admin_order_path(@conn, :show, ticket.order), target: "_blank"
              end
            %></td>
            <td><%= ticket.status %></td>
            <td><%= order_timestamp(ticket.purchased_at) %></td>
            <td><%= order_timestamp(ticket.emailed_at) %></td>
            <td><%= order_timestamp(ticket.checked_in_at) %></td>
          </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Purchased</th>
            <th>Tickets Emailed</th>
            <th>Checked In</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<script type="text/javascript">
  window.show_slug = "<%= @show.slug %>";

  $( document ).ready(function(){
    var ctx = document.getElementById("canvas").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [
            <%= for label <- @labels do %>
              "<%= label %>",
            <% end %>
          ],
          datasets: [{
              label: '# of Sales',
              data: [
                <%= for data <- @data do %>
                  "<%= data %>",
                <% end %>

              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 0
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }],
              xAxes: [{
                          gridLines: {
                              offsetGridLines: true
                          }
                      }]
          }
      }
    });

    $.fn.dataTableExt.afnFiltering.push(function(oSettings, aData, iDataIndex) {
      if ($('#purchased_checkbox').is(':checked')) {
        if (aData[3] == "purchased") {
            return true;
        } else {
          return false;
        }
      }
      if ($('#available_checkbox').is(':checked')) {
        if (aData[3] == "available") {
            return true;
        } else {
          return false;
        }
      }
      return true;
    });
    window.oTable = $('#datatable').DataTable( {
        "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "All"]]
    } );
    $('#purchased_checkbox, #available_checkbox').on("click", function(e) {
        console.log('click');
        window.oTable.draw();
    });

  });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
