<%= render TicketAgentWeb.LayoutView, "ticket_info.html", assigns %>
<section class="g-bg-white">
  <div class="container">
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
      <div class="form-inline">
        <div class="form-group col-sm-4 g-pt-10">
          <p class="form-control-static">Number of tickets: </p>
        </div>
        <div class="form-group col-sm-4">
          <select class="form-control rounded-0" id="ticket_count">
            <%= for i <- (1..@maximum_tickets) do %>
              <option><%= i %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group col-sm-4">
          Total:&nbsp;&nbsp;<strong id="invoice_cost">$ <%= event_cost(@show) %></strong>
        </div>
      </div>   
          <div id="ticket_count_error" class="alert alert-danger" role="alert" style="display: none; margin-top: 15px;">
            <strong>Uh oh!</strong> You must choose more than zero tickets.
          </div>          
    </form>
  </div>

  <%= if Coherence.logged_in?(@conn) do %>
  <button id="continue" class="btn btn-block u-btn-primary g-font-size-18 g-py-15 mb-4" type="button">
    <i class="fa fa-check-circle g-mr-5"></i>
    <span id="logged_in_text">Purchase 1 Ticket As <%= Coherence.current_user_name(@conn) %></span>
  </button>
  <% else %>
  <br />

  <div class="container">
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
      <div align="center">
        <h3 class="g-mb-10"><strong>Customer Information</strong></h3>
      </div>
      <p class="form-text text-muted">
        Because you chose to continue as a guest, we will need your name and email address to send you your receipt.
      </p>
      <div id="name_group" class="form-group g-mb-20">
        <label class="g-mb-10">Name: </label>
        <div class="input-group g-brd-primary--focus">
          <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
            <i class="icon-user"></i>
          </div>
          <input class="form-control form-control-md rounded-0" id="guest_name" name="name" type="text" placeholder="John Doe">
        </div>
        <small id="name_required" class="form-control-feedback" style="display: none;">This is a required field.</small>
      </div>
      <div id="email_group" class="form-group g-mb-20">
        <label class="g-mb-10">Email Address: </label>
        <div class="input-group g-brd-primary--focus">
          <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
            <i class="icon-envelope-letter"></i>
          </div>
          <input class="form-control form-control-md rounded-0" id="guest_email" name="email" type="email" placeholder="you@domain.com">
        </div>
        <small id="email_required" class="form-control-feedback" style="display: none;">This is a required field.</small>
      </div>      
      <button id="continue_as_guest" class="btn btn-block u-btn-primary g-font-size-18 g-py-15 mb-4" type="button">
        <i class="fa fa-check-circle g-mr-5"></i>
        <span id="guest_text">Purchase 1 Ticket As Guest</span>
      </button>
          
    </form>
  </div>  
  <% end %>
</section>

<script type="text/javascript">
  window.ticket_cost = <%= event_cost(@show) %>;
  window.show_id = "<%= @show.slug %>";
  
  window.redirect_it = function(ticket_count, name, email) {
    var details = {
      show_id: window.show_id,
      buyer_name: name,
      buyer_email: email,
      ticket_count: ticket_count,
      guest_checkout: <%= !Coherence.logged_in?(@conn) %>,
      tickets: []
    }
    var encodedData = window.btoa(JSON.stringify(details));
    Cookies.set("ticket_data", encodedData);
    var redirect_url = "/ticket_information/new?show_id=" + show_id;
    window.location.href = redirect_url;
  }

  window.set_button = function() {
    var resultVal = parseInt($("#ticket_count").val());
    var guest_name = $("#guest_name").val().trim();
    if (guest_name.length == 0) {
      guest_name = "Guest";
    }
    console.log(guest_name);
    $("#guest_text").text("Purchase " + resultVal + " Ticket(s) As " + guest_name);
    $("#logged_in_text").text("Purchase " + resultVal + " Ticket(s) As <%= Coherence.current_user_name(@conn) %>");
  }

  $(document).on('ready', function () {
    $("#ticket_count").on("change", function() {
      window.set_button();
      var resultVal = parseInt($("#ticket_count").val());
      var total = (resultVal * window.ticket_cost).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
      $("#invoice_cost").html("$" + total);
    })

    $("#guest_name").on("change", function() {
      window.set_button();
    });

    $("#continue").on("click", function(e) {
      var resultVal = parseInt($("#ticket_count").val());
      e.preventDefault();
      window.redirect_it(resultVal, "", "");
    })

    $("#continue_as_guest").on("click", function(e) {
      var resultVal = parseInt($("#ticket_count").val());
      var name = $("#guest_name").val().trim();
      var email = $("#guest_email").val().trim();
      var email_valid = $("#guest_email")[0].checkValidity();

      if (name.length <= 0) {
        $("#name_group").addClass("u-has-error-v1");
        $("#name_required").show();
        return false;
      } else {
        $("#name_group").removeClass("u-has-error-v1");
        $("#name_required").hide();          
      }

      if ((email.length <= 0) || (!email_valid)) {
        if (!email_valid) {
          $("#email_required").html("Email must be a valid email address.");
        } else {
          $("#email_required").html("This is a required field.");
        }
        $("#email_group").addClass("u-has-error-v1");
        $("#email_required").show();
        return false;          
      } else {
        $("#email_group").removeClass("u-has-error-v1");
        $("#email_required").hide();
      }
      window.redirect_it(resultVal, name, email);
    })    
  });
</script>
