<%= render TicketAgentWeb.LayoutView, "ticket_info.html", assigns %>
<section class="g-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render "ticket_quantity.html", assigns %>
      </div>
    </div>
    <div id="attendee_form" class="row">
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <button id="continue" class="btn btn-block u-btn-primary g-font-size-18 g-py-15 mb-4" type="button">
          <i class="fa fa-check-circle g-mr-5"></i>
          <span id="logged_in_text">Reserve 1 Ticket</span>
        </button>
      </div>
    </div>
  </div>
</section>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="card rounded-0 col-md-6" style="padding: 5px;">
    <h3 class="card-header h5 rounded-0">
      <i class="fa fa-user g-font-size-default g-mr-5"></i>
      Guest {{count_string}} Information
    </h3>
    <div class="card-block ticket_div">
      <div id="attendee_div_{{count}}">
        <div id="name_group_{{count}}" class="form-group g-mb-20">
          <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Name</label>
          <input class="form-control form-control-md rounded-0 attendee_name" type="email" id="attendee_name_{{count}}" name="attendee_name_{{count}}" placeholder="Name" value="{{ticket.name}}" required>
          <small id="name_required_{{count}}" style="display: none;" class="form-control-feedback">This is a required field.</small>
        </div>

        <div id="email_group_{{count}}" class="form-group g-mb-20">
          <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email</label>
          <input class="form-control form-control-md rounded-0" type="email" id="attendee_email_{{count}}" name="attendee_email_{{count}}" placeholder="user@domain.com" value="{{ticket.email}}" requiredtype="email">
          <small id="email_required_{{count}}" style="display: none;" class="form-control-feedback">This is a required field.</small>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/javascript" src="/js/ticket_related.js"></script>
<script type="text/javascript">
  window.details = {
    listing: {
      id: "<%= @listing.id %>",
      slug: "<%= @listing.slug %>"
    },
    tickets: [
      {
        name: "<%= Coherence.current_user_name(@conn, :name) %>",
        email: "<%= Coherence.current_user_name(@conn, :email) %>",
        price: <%= @conn.assigns.ticket_price %>,
      }
    ]
  }

  if (<%= @conn.assigns.past_date %>) {
    window.location.href = "/events/<%= @listing.slug %>?msg=show_expired";
  }

  $(document).on('ready', function () {
    window.reload_form();

    $("#ticket_count").on("change", function() {
      var ticket_count = parseInt($("#ticket_count").val());
      var current_ticket_count = window.details.tickets.length;

      if (current_ticket_count > ticket_count) {
        for (var i = ticket_count; i < current_ticket_count; i++) {
          window.details.tickets.pop();
        }
      } else {
        for (var i = current_ticket_count; i < ticket_count; i++) {
          window.details.tickets.push({name: null, email: null, price: <%= @conn.assigns.ticket_price %>});
        }
      }

      window.save_all_tickets();
      window.save_details_to_cookie();
      window.reload_form();
    })

    $("#continue").on("click", function(e) {
      e.preventDefault();
      return window.validate_form_and_redirect();
    });
  });
</script>
