<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title><%= page_title(@conn) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
  <link rel="dns-prefetch" href="https://cdn.rawgit.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <%= render "social.html", conn: @conn %>
  <%= render "favicons.html" %>
  <!-- Google Fonts -->
<!-- JS Global Compulsory -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript">
  window.csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
  window.stripe_publishable_key = "<%= TicketAgent.Services.Stripe.publishable_key %>";
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    Raven.config("<%= System.get_env("SENTRY_PUBLIC_DSN") %>", {
      release: "<%= Application.get_env(:ticket_agent_web, :release, "unknown") %>"
    }).install();
    <%= if Coherence.logged_in?(@conn) do %>
    Raven.setUserContext({
      id: "<%= Coherence.current_user_name(@conn, :id) %>",
      email: "<%= Coherence.current_user_name(@conn, :email) %>",
      username: "<%= Coherence.current_user_name(@conn) %>",
    });
    <% end %>
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3741220-7', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" integrity="sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css" integrity="sha256-iTSF1I/IZRmBtIEP7g2S69f9hbqn82KtOTSixlK+jck=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css" integrity="sha256-DbEot+lC/Kpjr33eXzHSzQQZNrDS9IYQRXxj/KvBrJc=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.1/hamburgers.min.css" integrity="sha256-hCM6SsLZUT2/Vkykg2meK/x+qOo9SJPfYif9agoSGOk=" crossorigin="anonymous" />

 <link  rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/custombox/custombox.min.css">
  <!-- CSS Unify -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/css/unify-core.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/css/unify-components.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/css/unify-globals.css">
  <!-- CSS Customization -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/PushComedyTheater/assets/master/css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />
</head>

<body>
  <main>
    <!-- MENU INCLUDE -->
    <%= render TicketAgentWeb.MenuView, "menu.html", assigns %>
    <!-- END MENU INCLUDE -->
    <!-- VIEW MODULE INCLUDE <%= @view_module %> -->
    <!-- VIEW TEMPLATE <%= @view_template %> -->
    <%= render @view_module, @view_template, assigns %>
    <!-- END VIEW MODULE INCLUDE -->
    <!-- NEWSLETTER INCLUDE -->
    <%= render "newsletter.html", assigns %>
    <!-- END NEWSLETTER INCLUDE -->
    <!-- FOOTER INCLUDE -->
    <%= render "footer.html", assigns %>
    <!-- END FOOTER INCLUDE -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md"><%= DateTime.utc_now.year %> &copy; All Rights Reserved.</small>
              <ul class="u-list-inline">
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/privacy">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms">Terms of Use</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:support@pushcomedytheater.com">Support</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="https://www.facebook.com/PushComedyTheater" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="https://twitter.com/pushcomedy" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Google Plus">
                <a href="https://plus.google.com/u/0/b/111820986003170275262/+PushComedyTheaterNorfolk" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a href="https://www.instagram.com/pushcomedy/" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Slack">
                <a href="https://pushcomedytheater.slack.com/" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-slack"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Yelp">
                <a href="https://www.yelp.com/biz/push-comedy-theater-norfolk" target="_blank" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-yelp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->
  </main>

  <div class="u-outer-spaces-helper"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js" integrity="sha256-SOuLUArmo4YXtXONKz+uxIGSKneCJG4x0nVcA0pFzV0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha256-rD86dXv7/J2SvI9ebmNi5dSuQdvzzrrN2puPca/ILls=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.js" integrity="sha256-yxrY2a2mCZxbaLVcqjg184Vo4c+qw5TYHPSZZdIWY2s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js" integrity="sha256-/As5lS2upX/fOCO/h/5wzruGngVW3xPs3N8LN4FkA5Q=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js" integrity="sha256-FJZOELgwnfQRdG8KZUSWCYgucECDf4w5kfQdQSGbVpI=" crossorigin="anonymous"></script>
  <!-- JS Implementing Plugins -->
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js" integrity="sha256-sLYUdmo3eloR4ytzZ+7OJsswEB3fuvUGehbzGBOoy+8=" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/vendor/image-select/src/ImageSelect.jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js" integrity="sha256-smfzbGDPGmErohy6T4GYOwE4m/195BPvF80A89X23j4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/custombox/4.0.3/custombox.min.js" integrity="sha256-3dCvh9Ar+IBGrK82FBU4xIUnY7N7ma1epBq2sHgpgY8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js" integrity="sha256-lg08cUS9fRaVhpYQy3GfoNMMXKaS63bhSXqW8MfuABw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js" integrity="sha256-T8epxt0QUasmGlUNsLFhR9pCNt7fsu/GMR6/9IoEU1A=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha256-Ikk5myJowmDQaYVCUD0Wr+vIDkN8hGI58SGWdE671A8=" crossorigin="anonymous"></script>
  <!-- JS Unify -->
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/hs.core.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.header.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/helpers/hs.hamburgers.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.scroll-nav.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.go-to.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.sticky-block.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/helpers/hs.height-calc.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.carousel.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.modal-window.js"></script>
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.step-form.js"></script>

  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/components/hs.countdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
  <!-- JS Custom -->
  <script src="https://cdn.rawgit.com/PushComedyTheater/assets/master/js/custom.js"></script>

  <script src="<%= static_path(@conn, "/js/application.js") %>"></script>


  <script>
    $(document).on('ready', function () {

      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }

        // Header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        $.HSCore.components.HSModalWindow.init('[data-modal-target]:not(.js-modal-markup)');
        // initialization of HSMegaMenu plugin
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        $.HSCore.helpers.HSHeightCalc.init();
      });

      $(window).on('load', function () {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700,
          easing: 'easeOutExpo',
          over: $('.u-secondary-navigation')
        });

        // initialization of masonry.js
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            // options
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });

        $.HSCore.components.HSModalWindow.init('[data-modal-target]');

        // initialization of sticky blocks
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
      });
  </script>

</body>

</html>
