<meta name="description" content="<%= raw page_description(@conn) %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= page_title(@conn) %>">
<meta property="og:url" content="<%= full_url(@conn) %>" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= page_image(@conn) %>" />
<meta property="og:description" content="<%= raw page_description(@conn) %>">
<meta property="og:site_name" content="Push Comedy Theater">
<meta property="fb:app_id" content="1421152897991577" />

<meta itemprop="name" content="<%= page_title(@conn) %>">
<meta itemprop="description" content="<%= raw page_description(@conn) %>">
<meta itemprop="image" content="<%= page_image(@conn) %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= page_title(@conn) %>">
<meta name="twitter:description" content="<%= raw page_description(@conn) %>">
<meta name="twitter:image" content="<%= page_image(@conn) %>">
<script type="application/ld+json"> {
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Push Comedy Theater",
  "url" : "https:/pushcomedytheater.com",
  "sameAs" : [
    "https://www.facebook.com/PushComedyTheater",
    "https://twitter.com/pushcomedy",
    "https://plus.google.com/u/0/b/111820986003170275262/+PushComedyTheaterNorfolk"
  ]
}
</script>
