<section class="g-bg-white">
  <div class="container g-py-100 g-px-10" style="margin-bottom: -70px;">
    <div class="row g-bg-white rounded">
      <div class="col-md-6">
        <img class="img-fluid" src="<%= @conn.assigns.page_image %>" alt="<%= @listing.title %>">
      </div>
      <div class="col-md-6">
        <div class="g-mb-30">
          <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><%= @listing.title %></h2>
            Date: <strong><%= event_date(@listing.start_at) %></strong> <strong><%= raw full_event_time(@listing) %></strong> / Price: <strong>$<%= @conn.assigns.ticket_price_string %></strong>
          <br />
          <br />

          <div class="alert alert-info" role="alert">
            <%= raw @message %>
          </div>
          <%= if @conn.assigns.buyer_name && @conn.assigns.buyer_email do %>
            Customer: <span class="u-label u-label-success g-mr-10 g-mb-15"><%= @conn.assigns.buyer_name %> (<%= @conn.assigns.buyer_email %>)</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
