<section class="g-bg-white">
  <div class="container g-py-100 g-px-10" style="margin-bottom: -70px;">
    <div class="row g-bg-white rounded">
      <div class="col-md-6">
        <img class="img-fluid" src="<%= @page_image %>" alt="<%= @listing.title %>">
      </div>
      <div class="col-md-6">
        <div class="g-mb-30">
          <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><%= @listing.title %></h2>
            Date: <strong><%= event_date(@listing.start_at) %></strong> <strong><%= raw full_event_time(@listing) %></strong> / Price:  <%= if @min_ticket_price == @max_ticket_price do %>
              <strong>$<%= cost_smallest_unit(@min_ticket_price) %></strong>
            <% else %>
              <i class="fa fa-dollar g-mr-3"></i><strong><%= cost_smallest_unit(@min_ticket_price) %> - <%= cost_smallest_unit(@max_ticket_price) %></strong>
            <% end %>
          <br />
          <br />
          <div class="alert alert-info" role="alert">
            <%= raw @message %>
          </div>
          <%= if Coherence.logged_in?(@conn) do %>
          Customer: <span class="u-label u-label-success g-mr-10 g-mb-15"><%= Coherence.current_user_name(@conn, :name) %> (<%= Coherence.current_user_name(@conn, :email) %>)</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
