<br />
<br />
<br />
<br />
<!-- News Block -->
  <br />
  <div class="text-center mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
    <h2 class="h3 text-uppercase mb-3">Upcoming Shows</h2>
    <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
  </div>

  <section class="g-pt-50 g-pb-90 g-bg-gray-light-v5">
    <div class="container g-pt-100 g-pb-70" style="margin-top: -100px;">
      <div class="row">
        <!-- Sidebar -->

        <!-- End Sidebar -->
        <!-- Search Results -->
        <div class="col-lg-12">
          <%= for event_chunk <- Enum.chunk_every(@events, 3) do %>
            <div class="row">
            <%= for event <- event_chunk do %>


            <% end %>
            </div>
          <% end %>
        </div>
        <!-- End Search Results -->
      </div>
    </div>
  </section>