<br />
<br />
<br />
<br />
<!-- News Block -->
  <br />
  <div class="text-center mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
    <h2 class="h3 text-uppercase mb-3">Upcoming Shows</h2>
    <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
  </div>

  <section class="g-pt-50 g-pb-90 g-bg-gray-light-v5">
    <div class="container g-pt-100 g-pb-70" style="margin-top: -100px;">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
          <!-- Tags -->
          <h2 class="h5 text-uppercase g-color-gray-dark-v1">Tags</h2>
          <hr class="g-brd-gray-light-v4 g-my-15">
          <ul class="list-inline g-mb-40">
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">Web Design</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">Unify</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">Template</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">HTML</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">CSS</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">Mobile</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">iOS</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">UI</a>
            </li>
            <li class="list-inline-item my-2">
              <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-4 g-px-10" href="#">Web</a>
            </li>
          </ul>
          <!-- End Tags -->
        </div>
        <!-- End Sidebar -->

        <!-- Search Results -->
        <div class="col-lg-9">
          <%= for shows <- Enum.chunk(@shows, 2) do %>
            <div class="row">
            <%= for [show, ticket_count] <- shows do %>
            <div class="col-lg-6 g-mb-30">
              <!-- Search Result -->
              <article class="g-bg-white" style="border: 1px dashed #f2f2f2;">
                <figure class="g-pos-rel">
                  <%= link to: event_path(@conn, :show, show) do %>
                    <img class="img-fluid w-100" src="<%= social_image(show) %>" style="height: 264px;" alt="<%= show.title %>">
                  <% end %>

                  <figcaption class="g-pos-abs g-bottom-0 g-left-0">
                    <%= link event_date(show.start_at), to: event_path(@conn, :show, show), class: "btn btn-med u-btn-primary rounded-0" %>
                  </figcaption>
                  <figcaption class="g-pos-abs g-bottom-0 g-right-0">
                    <%= link cost(show), to: event_path(@conn, :show, show), class: "btn btn-med u-btn-blue rounded-0" %>
                  </figcaption>
                </figure>

                <div class="g-pa-30">
                  <h4 class="g-font-weight-100 g-mb-15">
                    <%= link show.title, to: event_path(@conn, :show, show), class: "g-color-main g-text-underline--none--hover" %>
                  </h4>
                  <div>
                    <%= raw HtmlSanitizeEx.basic_html(TicketAgentWeb.LayoutView.truncated_description(show.description)) %>
                  </div>
                </div>

                <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                  <div class="media-body align-self-center">
                  </div>

                  <div class="align-self-center">
                    <%= link "More Information", to: event_path(@conn, :show, show), class: "btn u-btn-primary g-font-size-13 text-uppercase g-py-10 g-px-15" %>
                  </div>
                </div>
              </article>
              <!-- End Search Result -->
            </div>
            <% end %>
            </div>
          <% end %>
        </div>
        <!-- End Search Results -->
      </div>
    </div>
  </section>