<%= render TicketAgentWeb.LayoutView, "ticket_info.html", assigns %>
<section class="g-bg-gray-light-v5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 flex-md-first align-self-center g-mb-80">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Login to your Push Theater Account</h2>
          </header>
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
          <%= form_for @conn, session_path(@conn, :create), [as: :session, class: "g-py-15"], fn f  -> %>
            <div class="mb-4">
              <% login_field = Coherence.Config.login_field %>
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email:</label>
              <%= text_input f, login_field, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", type: "email", placeholder: "user@domain.com" %>
              <%= error_tag f, login_field %>
            </div>

            <div class="g-mb-35">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Password:</label>
              <%= password_input f, :password, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3", type: "password", placeholder: "Password", required: "" %>
              <%= error_tag f, :password %>
              <div class="row justify-content-between">
                <div class="col align-self-center">
                </div>
                <div class="col align-self-center text-right">
                  <%= coherence_links(@conn, :new_session, register: false, class: "g-font-size-12") %>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <%= submit dgettext("coherence", "Sign In"), class: "btn btn-md btn-block u-btn-primary rounded g-py-13" %>
            </div>          
          <% end %> 
          <div class="d-flex justify-content-center text-center g-mb-30">
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
            <span class="align-self-center g-color-gray-dark-v5 mx-4">OR LOGIN WITH</span>
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
          </div>
          <div class="row text-center no-gutters g-mb-10">
            <div class="col-4">
              <%= link to: auth_path(@conn, :index, "facebook", %{redirect_uri: @conn.assigns.user_return_to}), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-facebook g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-facebook"></i></span><% end %>
            </div>
            <div class="col-4">
              <%= link to: auth_path(@conn, :index, "twitter", %{redirect_uri: @conn.assigns.user_return_to}), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-twitter g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-twitter"></i></span><% end %>
            </div>
            <div class="col-4">
              <%= link to: auth_path(@conn, :index, "google", %{redirect_uri: @conn.assigns.user_return_to}), class: "u-icon-v4 u-icon-v4-rounded-50x u-icon-v4-bg-google-plus g-rounded-50x g-mr-15 g-mb-20" do %><span class="u-icon-v4-inner g-color-white g-color-white--hover"><i class="fa fa-google-plus"></i></span><% end %>
            </div>
          </div>                             
        </div>
    
      </div>
      <div class="col-md-6 flex-md-first align-self-center g-mb-80">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Register</h2>
          </header>
          <%= form_for @conn, registration_path(@conn, :create), [as: :registration, class: "g-py-15"], fn f  -> %>
            <div class="mb-4">
            	<label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Name") %>:</label>
              <%= text_input f, :name, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "John Doe" %>
              <%= error_tag f, :name %>
            </div>
            <div class="mb-4">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Email") %>:</label>
              <%= text_input f, :email, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", type: "email", placeholder: "user@domain.com" %>
              <%= error_tag f, :email %>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 mb-4">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Password") %>:</label>
                <%= password_input f, :password, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "Password" %>
              </div>
              <div class="col-xs-12 col-sm-6 mb-4">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13"><%= dgettext("coherence", "Password Confirmation") %>:</label>
                <%= password_input f, :password_confirmation, class: "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15", required: "", placeholder: "Password" %>
              </div>
            </div>
            <div class="mb-4">
              <%= submit dgettext("coherence", "Sign Up"), class: "btn btn-md btn-block u-btn-primary rounded g-py-13" %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center text-center g-mb-30">
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
            <span class="align-self-center g-color-gray-dark-v5 mx-4">OR CONTINUE AS A GUEST</span>
            <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
          </div>          
            <div class="alert alert-info">
              While we recommend that you create an account, you are always welcome to complete your purchase as a guest.
            </div>
            <%= link "Continue As Guest", to: ticket_path(@conn, :new, show_id: @conn.params["show_id"], guest_checkout: true), class: "btn btn-md btn-block u-btn-blue rounded g-py-13" %>          
        </div>      
      </div>
    </div>
  </div>
</section>
