<h2>Edit teacher</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_teacher_path(@conn, :update, @teacher) %>

<span><%= link "Back", to: admin_teacher_path(@conn, :index) %></span>
