
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "form.html", changeset: @changeset, action: backend_teacher_path(@conn, :create) %>
      </div>
    </div>
  </div>
</div>
