<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Order #<span class="text-uppercase"><%= @order.slug %></span></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="pull-right"><button id="cancel_order" class="btn btn-warning">Cancel Order</button></div>
    <br />
    <br />
    <table class="table table-bordered">
      <tr>
        <th>User</th>
        <td>
        <%=
          link(
            "#{@order.user.name} (#{@order.user.email})",
            to: admin_user_path(@conn, :show, @order.user),
            target: "_blank"
          )
        %>
        <br />
        <span>
          <a href="https://dashboard.stripe.com<%= if (Mix.env != "prod"), do: "/test", else: "" %>/customers/<%= @order.user.stripe_customer_id %>" class="btn btn-info btn-xs" target="_blank">View On Stripe</a>
        </span>
        </td>
      </tr>
      <tr>
        <th>Credit Card</th>
        <td>
          <%= raw credit_card_details(@order.credit_card) %>
        </td>
      </tr>
      <tr>
        <th>Slug</th>
        <td><%= @order.slug %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= order_status(@order.status) %></td>
      </tr>
      <tr>
        <th>Completed At</th>
        <td><%= order_timestamp(@order.completed_at) %></td>
      </tr>
    </table>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <%= for ticket <- @order.tickets do %>
        <tr>
          <td style="padding: 5px;"><%= ticket_details(ticket) %></td>
          <td style="padding: 5px;">$<%= :erlang.float_to_binary(ticket.price / 100,decimals: 2) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">&nbsp;<br /></td>
      </tr>
      <tr>
        <td style="padding: 5px; text-align: right;"><b>Subtotal:</b></td>
        <td style="padding: 5px;"><%= money(@order.subtotal) %></td>
      </tr>
      <tr>
        <td style="padding: 5px; text-align: right;"><b>Processing Fee:</b></td>
        <td style="padding: 5px;"><%= money(@order.total_price - @order.subtotal) %></td>
      </tr>
      <tr>
        <td style="padding: 5px; text-align: right;"><b>Total:</b></td>
        <td style="padding: 5px;"><%= money(@order.total_price) %></td>
      </tr>
    </table>
  </div>
  <div class="box-footer clearfix" style="display: none;">
    <span><%= link "Edit", to: admin_order_path(@conn, :edit, @order) %></span>
    <span><%= link "Back", to: admin_order_path(@conn, :index) %></span>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#cancel_order").on("click", function(e) {
    if (confirm("Are you sure you want to cancel this order and refund the customer's money?")) {
      $.ajax({
        // The URL for the request
        url: "/admin/orders/<%= @order.slug %>",
        // The data to send (will be converted to a query string)
        // Whether this is a POST or GET request
        type: "DELETE",
        // The type of data we expect back
        contentType: "application/json",
        dataType: "json",
        // add in csrf_token
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRF-Token", window.csrf_token);
        },
      }).done(function (response) {
        console.log("done");
        console.log(response);
        window.location.reload();
        // window.location.href = "/admin/classes"
      }).fail(function (xhr, status, errorThrown) {
        // Code to run if the request fails; the raw request and
        // status codes are passed to the function
        alert("There was an error cancelling this order.");
        window.console.log("Received error cancelling order: ")
        window.console.log("errorThrown: " + errorThrown);
      });




    }
    e.preventDefault();
  })
});
</script>