<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
      <%= for {field, {description, _}} <- @changeset.errors do %>
        <%= Atom.to_string(field) |> String.capitalize() %> <%= description %><br />
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control", disabled: assigns.conn.private.phoenix_action != :new %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :role, class: "control-label" %>
    <%= if assigns.conn.private.phoenix_action != :new do %>
      <%= select f, :role, [
        "Admin": "admin",
        "Concierge": "concierge",
        "Customer": "customer",
        "3rd Party Customer": "oauth_customer",
        "Guest": "guest"
      ], selected: f.data.role, prompt: "None" %>
    <% else %>
      <%= select f, :role, [
        "Admin": "admin",
        "Concierge": "concierge"
      ], selected: f.data.role, prompt: "None" %>
    <% end %>
    <%= error_tag f, :role %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
