<div class="row row-cards row-deck">
    <div class="col-12">
        <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th class="text-center"><i class="icon-settings"></i> Action</th>
              </tr>
            </thead>
            <tbody>
              <%= for listing <- @listings do %>
              <tr>
                <td><%= link listing.title, to: backend_event_path(@conn, :show, listing), class: "text-inherit" %></td>
                <td><%= listing.status %></td>
                <td><%= order_timestamp(listing.start_at) %></td>
                <td><%= order_timestamp(listing.end_at) %></td>
                <td class="text-right">
                  <%= link "Manage", to: backend_event_path(@conn, :show, listing), class: "btn btn-secondary btn-sm" %>
                </td>
              </tr>
              <% end %>
              <tr>
              <td colspan="5">
              </td>
              </tr>
            </tbody>
            <tfoot>
              <td colspan="5">
                <div class="pull-left">
                  <%= link "Create New Listing", to: backend_event_path(@conn, :new), class: "btn btn-primary ml-auto" %>
                </div>
                <div class="pull-right">
                  <%= pagination_links @listings %>
                </div>
              </td>
             </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
