<div class="page-header">
  <h1 class="page-title">
    Create New Show
  </h1>
</div>
<div class="row">
  <div class="col-12">
    <form action="https://httpbin.org/post" method="post" class="card">
      <div class="card-header">
        <h3 class="card-title">What type of show is this?</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h4><i class="fa fa-university"></i> Class</h4>
            <br />
            Please select the class from the drop down to prepopulate the form.  It is important to make sure that you create a new instance of one of the classes versus creating an entirely new one.
            <br />
            <br />
            <div class="form-group">
              <select name="class" id="select-class" class="form-control custom-select">
                <option value="">Choose Class</option>
                <%= for class <- @classes do %>
                  <option value="<%= class.id %>"><%= class.title %></option>
                <% end%>
              </select>
            </div>
            <br />
            <center><button id="class_click" class="btn btn-success btn-lg">Create Class Listing</button></center>
          </div>
          <div class="col-sm-6">
            <h4><i class="fa fa-calendar"></i> Show</h4>
            <br />
            If this show has been created previously, please choose from the drop down to prepopulate the form on the next page.  Otherwise, please choose to create a new listing.
            <br />
            <br />
            <div class="form-group">
              <select name="show" id="select-show" class="form-control custom-select">
                <option value="new">Create New Show</option>
                <%= for event <- @events do %>
                  <option value="<%= event.id %>"><%= event.title %></option>
                <% end%>
              </select>
            </div>
            <br />
            <br />
            <center><button id="event_click" class="btn btn-success btn-lg">Create New Show</button></center>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  require(['jquery', 'selectize'], function ($, selectize) {
      $(document).ready(function () {
        $('#select-class, #select-show').selectize({});

        $("#class_click").on("click", function(e){
          e.preventDefault();
          var value = $("#select-class").val();
          if (value == "") {
            alert("Please select a class")
          } else {
            window.location.href = "/backend/listings/new?class_id=" + value;
          }
        });

        $("#event_click").on("click", function(e){
          e.preventDefault();
          var value = $("#select-show").val();
          window.location.href = "/backend/listings/new?event_id=" + value;
        });

      });
  });
</script>
