<div class="pull-right">
  <%= if is_nil(@show.event_id) do %>
    <%= link "View On Customer Site", to: class_path(@conn, :show, @show.class), class: "btn btn-info btn-md", target: "_blank" %>
  <% else %>
    <%= link "View On Customer Site", to: event_path(@conn, :show, @show), class: "btn btn-info btn-md", target: "_blank" %>
  <% end %>
</div>
<div class="page-header">
  <h1 class="page-title">
    <%= @show.title %> (<%= order_timestamp(@show.start_at) %> - <%= order_timestamp(@show.end_at) %>)
  </h1>
</div>

<div class="row row-cards">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <div class="h5">Tickets Sold</div>
        <div class="display-4 font-weight-bold mb-4"><%= @sold_ticket_count %> / <%= Enum.count(@show.tickets) %></div>
        <div class="progress progress-sm">
          <div class="progress-bar bg-green" style="width: <%= round((@sold_ticket_count / Enum.count(@show.tickets)) * 100) %>%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <div class="h5">Sales</div>
        <div class="display-4 font-weight-bold mb-4">$<%= :erlang.float_to_binary((@sold_ticket_price / 100), decimals: 2) %></div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Sales</h3>
  </div>
  <div class="card-body">
    <div id="chart-wrapper" style="height: 16rem"></div>
    <div class="table-responsive">
      <table id="datatable" class="table card-table table-striped table-vcenter">
        <thead>
          <tr>
            <th colspan="7">
            Filter:&nbsp;
            <input id="purchased_checkbox" type="checkbox"> Only Purchased
            </th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Order</th>
            <th>Status</th>
            <th>Purchased</th>
            <th>Tickets Emailed</th>
            <th>Checked In</th>
          </tr>
        </thead>
        <tbody>
          <%= for ticket <- @show.tickets do %>
          <tr>
            <td><%= ticket.slug %></td>
            <td><%= ticket.guest_name %></td>
            <td><%=
              if ticket.order do
                link ticket.order.slug, to: backend_order_path(@conn, :show, ticket.order), target: "_blank"
              end
            %></td>
            <td><%= ticket.status %></td>
            <td><%= order_timestamp(ticket.purchased_at) %></td>
            <td><%= order_timestamp(ticket.emailed_at) %></td>
            <td><%= order_timestamp(ticket.checked_in_at) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
require(['c3', 'jquery', 'https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js'], function(c3, $) {
  $(document).ready(function(){
    var chart = c3.generate({
      bindto: '#chart-wrapper', // id of chart wrapper
      data: {
        columns: [
            // each columns data
          <%= raw Poison.encode!(["data1"] ++ @data) %>
        ],
        labels: true,
        type: 'bar', // default type of chart
        colors: {
          'data1': tabler.colors["blue"]
        },
        names: {
            // name of each serie
          'data1': 'Sales'
        }
      },
      axis: {
        x: {
          type: 'category',
          // name of each category
          categories: <%= raw Poison.encode!(@labels) %>
        },
      },
      legend: {
                show: false, //hide legend
      },
      padding: {
        bottom: 0,
        top: 0
      },
    });
    $.fn.dataTableExt.afnFiltering.push(function(oSettings, aData, iDataIndex) {
      if ($('#purchased_checkbox').is(':checked')) {
        if (aData[3] == "purchased") {
            return true;
        } else {
          return false;
        }
      }
      if ($('#available_checkbox').is(':checked')) {
        if (aData[3] == "available") {
            return true;
        } else {
          return false;
        }
      }
      return true;
    });
    window.oTable = $('#datatable').DataTable( {
        "lengthMenu": [[20, 25, 50, -1], [20, 25, 50, "All"]]
    } );
    $('#purchased_checkbox').on("click", function(e) {
        window.oTable.draw();
    });
  });
});
</script>
