<h2>Listing Teachers</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>

    </tr>
  </thead>
  <tbody>
<%= for context <- @teachers do %>
    <tr>
      <td class="text-left">
        <span><%= link "Show", to: admin_teacher_path(@conn, :show, context), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_teacher_path(@conn, :edit, context), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_teacher_path(@conn, :delete, context), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
      <td><%= context.name %></td>
      <td><%= context.email %></td>


    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Teacher", to: admin_teacher_path(@conn, :new) %></span>
