<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
<li class="nav-item">
  <a href="/backend" class="nav-link active"><i class="fe fe-home"></i> Home</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-university"></i> Classes</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-calendar"></i> Shows</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-shopping-cart"></i> Orders</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-graduation-cap"></i> Teachers</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-users"></i> Users </a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-wrench"></i> Webhooks </a>
</li>
<li class="nav-item dropdown">
  <a href="./form-elements.html" class="nav-link"><i class="fe fe-check-square"></i> Forms</a>
</li>
</ul>
