<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
<li class="nav-item">
  <%= link to: backend_dashboard_path(@conn, :index), class: treeview_action(@conn, "dashboard_index", "nav-link") do %>
    <i class="fe fe-home"></i> Home
  <% end %>
</li>
<li class="nav-item">
  <%= link to: backend_class_path(@conn, :index), class: raw(treeview_action(@conn, "classes_index", "nav-link")) do %>
    <i class="fa fa-university"></i> Classes</a>
  <% end %>
</li>
<li class="nav-item">
  <%= link to: backend_event_path(@conn, :index), class: raw(treeview_action(@conn, "listings_index", "nav-link")) do %>
    <i class="fa fa-calendar"></i> Shows
  <% end %>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-shopping-cart"></i> Orders</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-graduation-cap"></i> Teachers</a>
</li>
<li class="nav-item">
  <a href="/backend" class="nav-link"><i class="fa fa-users"></i> Users </a>
</li>
<li class="nav-item">
  <%= link to: backend_webhook_path(@conn, :index), class: raw(treeview_action(@conn, "webhooks_index", "nav-link")) do %>
    <i class="fa fa-wrench"></i> Webhooks
  <% end %>
</li>
</ul>
