<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Webhooks</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="datatable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Source</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function() {

  window.table = $('#datatable').DataTable( {
    ajax: {
      url: "/admin/webhooks.json"
    },
    processing: true,
    serverSide: true,
    pageLength: 10,
    columns: [
      {
        data: "id",
        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
          $(nTd).html("<a href='/admin/webhooks/"+oData.id+"'>"+oData.id+"</a>");
        }
      },
      { data: "source" },
      { data: "date" }
    ]
  });

} );

</script>