<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @detail.source %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>Source</th>
        <td><%= @detail.source %></td>
      </tr>
      <tr>
        <th>Request</th>
        <td style="max-width: 250px;">
        <blockquote class="blockquote" id="details">
        </blockquote>
        </td>
      </tr>
    </table>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.0.0/json2html.min.js"></script>
<script type="text/javascript">
window.request_details = <%= raw Poison.encode!(@detail.request) %>;
$("#details").html(JSON.stringify(window.request_details));
</script>