<br />
<br />
<br />
<br />
      <!-- News Block -->
      <section class="g-bg-gray-light-v5">
        <br />
        <div class="text-center mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
          <h2 class="h3 text-uppercase mb-3">Upcoming Shows</h2>
          <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
        </div>
        <div class="container g-pt-100 g-pb-70" style="margin-top: -100px;">
          <div class="row">
            <%= for show <- @shows do %>
            <div class="col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="g-bg-white">
                <figure class="g-pos-rel">
                  <%= link to: show_path(@conn, :show, show) do %>
                    <img class="img-fluid w-100" src="<%= social_image(show) %>" style="height: 264px;" alt="<%= show.title %>">
                  <% end %>

                  <figcaption class="g-pos-abs g-bottom-0 g-left-0">
                    <%= link event_date(show.start_time), to: show_path(@conn, :show, show), class: "btn btn-med u-btn-primary rounded-0" %>
                  </figcaption>
                  <figcaption class="g-pos-abs g-bottom-0 g-right-0">
                    <%= link cost(show), to: show_path(@conn, :show, show), class: "btn btn-med u-btn-blue rounded-0" %>
                  </figcaption>
                </figure>

                <div class="g-pa-30">
                  <h4 class="g-font-weight-100 g-mb-15">
                    <%= link show.title, to: show_path(@conn, :show, show), class: "g-color-main g-text-underline--none--hover" %>
                  </h4>
                  <div>
                    <%= raw TicketAgentWeb.LayoutView.truncated_description(show.description) %>
                  </div>
                </div>

                <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                  <div class="media-body align-self-center">
                  </div>

                  <div class="align-self-center">
                    <%= link "More Information", to: show_path(@conn, :show, show), class: "btn u-btn-primary g-font-size-13 text-uppercase g-py-10 g-px-15" %>
                  </div>
                </div>
              </article>
              <!-- End Article -->
            </div>
            <% end %>
          </div>
        </div>
      </section>
      <!-- End News Block -->
