  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; <%= DateTime.utc_now.year %> Push Comedy.</strong> All rights reserved.
  </footer>
