<li class="<%= treeview_root(@conn, "listings") %>">
  <a href="#">
    <i class="fa fa-calendar"></i>
    <span>Shows</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li<%= raw treeview_action(@conn, "listings_index") %>>
      <%= link to: admin_event_path(@conn, :index) do %>
        <i class="fa fa-list"></i> <span>All</span>
      <% end %>
    </li>
    <li<%= raw treeview_action(@conn, "listings_index") %>>
      <%= link to: admin_event_path(@conn, :index, status: "active") do %>
        <i class="fa fa-list"></i> <span>Active</span>
      <% end %>
    </li>
    <li<%= raw treeview_action(@conn, "listings_new") %>>
      <%= link to: admin_event_path(@conn, :new) do %>
        <i class="fa fa-plus"></i> <span>New</span>
      <% end %>
    </li>
  </ul>
</li>
