<li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl">
  <a id="nav-link--camps" class="nav-link g-py-7 g-px-0" href="/about">About Us</a>
  <!-- Submenu -->
  <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-py-7 g-mt-20 g-mt-15--lg--scrolling" id="nav-submenu--home">
    <li class="dropdown-item">
      <%= link "Ed Carden", to: about_path(@conn, :show, "ed"), class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      <%= link "Sean Devereux", to: about_path(@conn, :show, "sean"), class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      <%= link "Brad McMurran", to: about_path(@conn, :show, "brad"), class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      <%= link "Alba Woolard", to: about_path(@conn, :show, "alba"), class: "nav-link" %>
    </li>
  </ul>
  <!-- End Submenu -->
</li>
