<br />
<br />
<br />
<br />
      <!-- Breadcrumbs -->
      <section class="g-bg-gray-light-v5 g-py-20">
        <div class="container">
          <div class="d-sm-flex text-center">

            <div class="align-self-center ml-auto">
              <ul class="u-list-inline">
                <li class="list-inline-item g-mr-5">
                  <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
                  <i class="g-color-gray-light-v2 g-ml-5">/</i>
                </li>
                <li class="list-inline-item g-mr-5">
                  <%= link "Classes", to: classes_path(@conn, :index), class: "u-link-v5 g-color-main g-color-primary--hover" %>
                  <i class="g-color-gray-light-v2 g-ml-5">/</i>
                </li>
                <li class="list-inline-item g-color-primary">
                  <span><%= @type |> String.capitalize %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- Section -->
      <!-- Clients -->
      <section class="container g-pt-100">
        <%= for class <- @classes do %>
          <div class="row justify-content-between g-mb-40">
            <div class="col-lg-12 g-mb-30">
              <!-- Clients -->
              <div class="d-flex justify-content-between">
                <div class="d-block mr-5">
                  <%= img_tag(class.cover_photo_url, class: "g-width-170") %>
                </div>
                <div class="d-block">
                  <h2 class="h4 g-color-black g-font-weight-600"><%= link class.title, to: class_path(@conn, :show, class.slug), class: "g-color-black" %></h2>
                  <%= if class.prerequisite do %>
                    <ul class="list-inline g-font-size-13">
                      <li class="list-inline-item">
                        <i class="align-middle g-color-primary g-font-size-15 mr-2 icon-education-009 u-line-icon-pro"></i>
                          <%= link to: class_path(@conn, :show, class.prerequisite.slug), class: "g-color-gray-dark-v5 g-text-underline--none--hover" do %>
                            Prerequisite: <%= class.prerequisite.title %>
                          <% end %>
                        </a>
                      </li>
                    </ul>
                  <% end %>
                  <p><%= class.description |> raw() %></p>
                  <br />
                  <div class="pull-right">
                    <%= link "More Info", to: class_path(@conn, :show, class.slug), class: "btn btn-xl u-btn-outline-black g-font-size-default mr-2" %>  <a class="btn btn-xl u-btn-primary g-font-size-default" href="#">Register Now</a>
                  </div>
                </div>
              </div>
              <!-- End Clients -->
              <hr class="g-my-20">
            </div>
          </div>
        <% end %>
      </section>
      <!-- End Clients -->
