<br />
<br />
<br />
<br />
<!-- Breadcrumbs -->
<section class="g-bg-gray-light-v5 g-py-20">
  <div class="container">
    <div class="d-sm-flex text-center">

      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/classes">Classes</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-mr-5">
            <%= link @class.type |> String.capitalize, to: class_type_path(@conn, :class, @class.type), class: "u-link-v5 g-color-main g-color-primary--hover" %>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span><%= @class.title %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
<% listing = current_class_listing(@class) %>
<!-- Section -->
<section class="container g-pt-50 g-pb-40">
  <div class="row">
    <div class="col-lg-8 g-mb-60">
      <div class="mb-4">
        <h2 class="h3 text-uppercase mb-3"><%= @class.title %></h2>
        <div class="g-width-60 g-height-1 g-bg-black"></div>
      </div>
      <div class="mb-5">
        <%= @class.description |> raw() %>
      </div>
      <%= link to: class_type_path(@conn, :class, @class.type), id: "nav-link--workshop", class: "btn btn-xl u-btn-outline-black g-font-size-default mr-2" do %>
        More <%= @class.type |> String.capitalize %> Classes
      <% end %>

      <%= if listing do %>
        <%= link "Enroll Now", to: event_path(@conn, :show, listing), class: "btn btn-xl u-btn-primary g-font-size-default" %>
      <% else %>
        <a class="btn btn-xl u-btn-success g-font-size-default" href="#waitlist_modal" data-modal-target="#waitlist_modal" data-modal-effect="slide">Not Currently Enrolling - Join Waitlist?</a>
        
      <% end %>
    </div>

    <div class="col-lg-4 g-mb-60">
      <%= img_tag(@class.image_url, class: "img-fluid") %>
    </div>
  </div>
</section>
<div id="waitlist_modal" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
  <button type="button" class="close" onclick="Custombox.modal.close();">
    <i class="hs-icon hs-icon-close"></i>
  </button>
  <h4 class="g-mb-20">Waitlist For <%= @class.title %></h4>
  <p>Currently this class is not being offered.</p>
  <p>If you would like to be notified when this class is offered again, you are welcome to join our waitlist and we will send you an email when this class is offered.</p>
  <br />
  <div class="form-group g-mb-20">
    <div class="u-input-group-v2">
      <input id="name" class="form-control rounded-0 u-form-control" name="full-name" type="text" value="<%= Coherence.current_user_name(@conn) %>">
      <label for="name">Full Name</label>
    </div>
    <small id="name_required" class="form-control-feedback" style="color: red; display: none;">This is a required field.</small>
  </div>
  <div class="form-group g-mb-20">
    <div class="u-input-group-v2">
      <input id="email" class="form-control rounded-0 u-form-control" name="full-name" type="text" value="<%= Coherence.current_user_name(@conn, :email) %>">
      <label for="email">Email Address</label>
    </div>
    <small id="email_required" class="form-control-feedback" style="color: red; display: none;">This is a required field.</small>
  </div>
  <a href="#!" id="add_waitlist_btn" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">Add Me To Waitlist</a>
</div>
<script type="text/javascript">
  $("#add_waitlist_btn").on("click", function(e) {
    e.preventDefault();

    var name = $("#name").val().trim();
    var email = $("#email").val().trim();
    var listing_id = "<%= @conn.assigns.class.id %>";

    if (name.length == 0) {
      $("#name_required").show();
    } else {
      $("#name_required").hide();
    }

    if (email.length == 0) {
      $("#email_required").show();
    } else {
      $("#email_required").hide();
    }

    if ((name.length > 0) && (email.length > 0)) {
      var details = {
        name: name,
        email: email,
        listing_id: listing_id
      }
      window.join_waitlist(details);
    }

  });
</script>