<span class="btn-block btn-xxl u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
  <i class="fa fa-ticket g-mr-3"></i> Show Ended
</span>