<%= if Enum.count(@purchased_tickets) > 0 do %>
  <p class="alert alert-info rounded" role="alert">
    You purchased tickets to this event on:  
    <%= raw purchased_order_list(@conn, @purchased_tickets) %>
  </p>
<% end %>