<div class="row row-cards row-deck">
    <div class="col-12">
        <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <div class="alert alert-primary">
      These are the class templates that are used to create new listings of a class.  When you create a new listing for a class, it copies the data from this  class.  Changing things here will only affect future listings.
      </div>
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
              <tr>
                <th class="text-center"><i class="icon-settings"></i> Action</th>
                <th>Title</th>
                <th class="text-center">Current Listing</th>
              </tr>
            </thead>
            <tbody>
              <%= for class <- @classes do %>
              <% current_listings = current_class_listing(class) %>
              <tr>
                <td class="text-center">
                  <div class="item-action dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-secondary btn-sm">Manage</a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <%= link to: class_path(@conn, :show, class.slug), class: "dropdown-item", target: "_blank" do %>
                        <i class="dropdown-icon fe fe-search"></i> View Class On Site
                      <% end %>
                      <%= link to: backend_class_path(@conn, :edit, class), class: "dropdown-item" do %>
                        <i class="dropdown-icon fe fe-edit-2"></i> Edit Class Template
                      <% end %>
                      <%= link to: backend_event_path(@conn, :new, class_id: class.id), class: "dropdown-item" do %>
                        <i class="dropdown-icon fe fe-plus"></i> New Listing
                      <% end %>
                  </div>
                </td>
                <td>
                  <div><%= class.title %></div>
                </td>
                <td class="text-center">
                  <%= if Enum.count(current_listings) > 0 do %>
                    <%= for listing <- current_listings do %>

                  <div class="item-action dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-secondary btn-sm">Manage <%= listing.slug %></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <%= link to: backend_event_path(@conn, :show, listing.slug), class: "dropdown-item" do %>
                        <i class="dropdown-icon fe fe-search"></i> View Class Details
                      <% end %>
                      <%= link to: backend_event_path(@conn, :edit, listing), class: "dropdown-item" do %>
                        <i class="dropdown-icon fe fe-edit-2"></i> Edit Listing <%= listing.slug %>
                      <% end %>
                  </div>

                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
