<!-- AREA CHART -->
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Area Chart</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="chart">
      <canvas id="areaChart" style="height:250px"></canvas>
    </div>
  </div>
  <!-- /.box-body -->
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Upcoming Classes</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Title</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= for {show, index} <- Enum.with_index(@classes) do %>
      <% 
        sold_count = Enum.count(show.tickets, fn(x) -> x.status != "available" end) 
        total = Enum.count(show.tickets)
        percentage = (sold_count / total) * 100
      %>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= link show.title, to: admin_event_path(@conn, :show, show) %></td>
          <td><%= order_timestamp(show.start_at) %></td>
          <td>
            <div class="progress-group">
              <span class="progress-text">Tickets Sold</span>
              <span class="progress-number"><b><%= sold_count %></b>/<%= total %></span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-aqua" style="width: <%= percentage %>%"></div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Upcoming Shows</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Title</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= for {show, index} <- Enum.with_index(@shows) do %>
      <% 
        sold_count = Enum.count(show.tickets, fn(x) -> x.status != "available" end) 
        total = Enum.count(show.tickets)
        percentage = (sold_count / total) * 100
      %>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= link show.title, to: admin_event_path(@conn, :show, show) %></td>
          <td><%= order_timestamp(show.start_at) %></td>
          <td>
            <div class="progress-group">
              <span class="progress-text">Tickets Sold</span>
              <span class="progress-number"><b><%= sold_count %></b>/<%= total %></span>
              <div class="progress sm">
                <div class="progress-bar progress-bar-aqua" style="width: <%= percentage %>%"></div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>